body {
	background-color: grey; 
}

.background {
	background-color: red; 
}
#block{
	width: 20%;
	
	border: blue solid 3px;
}
.block{
	padding-left: 45%;
}

#block2{
	margin-left: 40%;
	width: 20%; 
}
.block2{
	background-color: green; 
	border: 5px solid black;
}
.block21{
	background-color: white; 
	
}

#text{
	display: none;
	font-size: 40px;

}